.home-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #9fa8da;
}

.card-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .first-row, .second-row {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .comandi-admin {
        flex-basis: 45%;
        height: 90%;
        width: 45%;
        display: inline-flex;
    }

    .leaderboard {
        flex-basis: 45%;
        height: 90%;
        width: 45%;
        display: inline-flex;
    }

    .report {
        flex-basis: 95%;
        height: 90%;
        width: 90%;
        display: inline-flex;
    }

    .card-content {
        height: 90%;
        width: 100%;
        padding: 20px;

        .header-card {
            display: flex;
            justify-content: space-between;
        }

        .card-content-section {
            margin-top: 20px;

            &.comandi-admin-section {
                display: flex;
                flex-direction: column;
                a {
                    height: 40px;
                    &:not(:first-child) {
                        margin-top: 10px;
                    }
                }
            }
        }

        .card-title {
            font-size: 25px;
            color: black;
            font-weight: bold;
        }
    }
}

.stats {
    height: 80%;
    display: flex;
    justify-content: space-between;

    .MuiCard-root {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .stats-title, .stats-value {
            text-align: center;
            font-size: 25px;
        }

        .stats-value {
            font-size: 35px;
            height: 40%;
        }
    }
}